In [28]:
import time
from datetime import datetime
import pandas as pd

# Just to use YahooDownloader
import finrl

In [2]:
query_string="https://query1.finance.yahoo.com/v7/finance/download/TSLA?period1=1606780800&period2=1609372800&interval=1wk&events=history&includeAdjustedClose=true"

In [9]:
ticker = 'TSLA'
period1 = int(time.mktime(datetime.datetime(2020,12,1, 23,59).timetuple()))
period2 = int(time.mktime(datetime.datetime(2020,12,31, 23,59).timetuple()))
interval='1wk' # 1d, 1m
interval = '1d'
query_string=f"https://query1.finance.yahoo.com/v7/finance/download/{ticker}?period1={period1}&period2={period2}&interval={interval}&events=history&includeAdjustedClose=true"

In [10]:
query_string

'https://query1.finance.yahoo.com/v7/finance/download/TSLA?period1=1606838340&period2=1609430340&interval=1d&events=history&includeAdjustedClose=true'

In [11]:
df = pd.read_csv(query_string)

In [12]:
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2020-12-01,597.590027,597.849976,572.049988,584.760010,584.760010,40103500
1,2020-12-02,556.440002,571.539978,541.210022,568.820007,568.820007,47775700
2,2020-12-03,590.020020,598.969971,582.429993,593.380005,593.380005,42552000
3,2020-12-04,591.010010,599.039978,585.500000,599.039978,599.039978,29401300
4,2020-12-07,604.919983,648.789978,603.049988,641.760010,641.760010,56309700
5,2020-12-08,625.510010,651.280029,618.500000,649.880005,649.880005,64265000
6,2020-12-09,653.690002,654.320007,588.000000,604.479980,604.479980,71291200
7,2020-12-10,574.369995,627.750000,566.340027,627.070007,627.070007,67083200
8,2020-12-11,615.010010,624.000000,596.799988,609.989990,609.989990,46475000
9,2020-12-14,619.000000,642.750000,610.200012,639.830017,639.830017,52040600
10,2020-12-15,643.280029,646.900024,623.799988,633.250000,633.250000,45071500
11,2020-12-16,628.229980,632.500000,605.000000,622.770020,622.770020,42095800
12,2020-12-17,628.190002,658.820007,619.500000,655.900024,655.900024,56270100
13,2020-12-18,668.900024,695.000000,628.539978,695.000000,695.000000,222126200
14,2020-12-21,666.239990,668.500000,646.070007,649.859985,649.859985,58045300
15,2020-12-22,648.000000,649.880005,614.229980,640.340027,640.340027,51716000
16,2020-12-23,632.200012,651.500000,622.570007,645.979980,645.979980,33173000
17,2020-12-24,642.989990,666.090027,641.000000,661.770020,661.770020,22865600
18,2020-12-28,674.510010,681.400024,660.799988,663.690002,663.690002,32278600
19,2020-12-29,661.000000,669.900024,655.000000,665.989990,665.989990,22910800
20,2020-12-30,672.000000,696.599976,668.359985,694.780029,694.780029,42846000
21,2020-12-31,699.989990,718.719971,691.119995,705.669983,705.669983,49649900

## 1. Get universe of stocks. 

We have downloaded a snapshot of DJI universe. We take list of tickers from `data/DJI_tickers.csv`

In [50]:
tickers_df = pd.read_csv("data/DJI_tickers.csv")
tickers_list = tickers_df["DOW_30_TICKER"].values
tickers_list

array(['AAPL', 'MSFT', 'JPM', 'V', 'RTX', 'PG', 'GS', 'NKE', 'DIS', 'AXP',
       'HD', 'INTC', 'WMT', 'IBM', 'MRK', 'UNH', 'KO', 'CAT', 'TRV',
       'JNJ', 'CVX', 'MCD', 'VZ', 'CSCO', 'XOM', 'BA', 'MMM', 'PFE',
       'WBA', 'DD'], dtype=object)

## 2. Download historical data

In [58]:
import time
from datetime import datetime

def ticker_downloader(p_start_date_str, p_end_date_str, p_ticker, p_interval = '1d'):
    # make sure in correct input format
    p_start_date_str = datetime.strptime(p_start_date_str,"%Y.%m.%d").strftime("%Y.%m.%d")
    p_end_date_str = datetime.strptime(p_end_date_str  ,"%Y.%m.%d").strftime("%Y.%m.%d")
    # Add timestamp
    st = p_start_date_str + " " + "23:59"
    end = p_end_date_str + " " + "23:59"
    # Reconvert to timestamp
    st = datetime.strptime(st, "%Y.%m.%d %H:%M")
    end = datetime.strptime(end, "%Y.%m.%d %H:%M")
    # Get back system time format for final query
    period1 = int(time.mktime(st.timetuple()))
    period2 = int(time.mktime(end.timetuple()))
    query_string=f"https://query1.finance.yahoo.com/v7/finance/download/{p_ticker}?period1={period1}&period2={period2}&interval={p_interval}&events=history&includeAdjustedClose=true"
    result_df = None
    try:
        result_df = pd.read_csv(query_string)
    except Exception as e:
        print("Oops!", e.__class__, "occurred.")
        print(f"ticker_downloader: For ticker={p_ticker}, start={p_start_date_str}, end={p_end_date_str}: {e}")
        return None
    return result_df


# Test using TSLA
#ticker_downloader("2020.12.01", "2020.12.31", "TSLA")
# Test using non existent TSLA
# ticker_downloader("2020.12.01", "2020.12.31", "TSLAXXX")
# Test using non existent in date
# ticker_downloader("1980.12.01", "2020.12.31", "TSLA")

In [54]:
qstr = ticker_downloader("2020.12.01", "2020.12.31", "TSLAXXYY")

Oops! <class 'urllib.error.HTTPError'> occurred.
Message: HTTP Error 404: Not Found

In [3]:
start_date = "1990.01.01"
end_date = "1990.01.01"
data_list = []
for ticker in tickers_list:

,Date,Open,High,Low,Close,Adj Close,Volume
0,2009-01-02,8772.250000,9065.280273,8760.780273,9034.690430,9034.690430,213700000
1,2009-01-05,9027.129883,9034.370117,8892.360352,8952.889648,8952.889648,233760000
2,2009-01-06,8954.570313,9088.059570,8940.950195,9015.099609,9015.099609,215410000
3,2009-01-07,8996.940430,8996.940430,8719.919922,8769.700195,8769.700195,266710000
4,2009-01-08,8769.940430,8770.019531,8651.190430,8742.459961,8742.459961,226620000
...,...,...,...,...,...,...,...
2923,2020-08-13,27922.509766,27986.099609,27789.779297,27896.720703,27896.720703,360160000
2924,2020-08-14,27828.929688,27977.810547,27759.390625,27931.019531,27931.019531,275540000
2925,2020-08-17,27970.050781,27999.810547,27816.400391,27844.910156,27844.910156,286860000
2926,2020-08-18,27853.480469,27891.119141,27668.789063,27778.070313,27778.070313,276170000
2927,2020-08-19,27811.259766,27920.419922,27647.669922,27692.880859,27692.880859,311460000

In [14]:
from finrl.config  import DOW_30_TICKER

ImportError: cannot import name 'DOW_30_TICKER' from 'finrl.config' (/Users/jvsingh/anaconda3/envs/rlproject/lib/python3.7/site-packages/finrl/config/__init__.py)

In [12]:
finrl.config.config

AttributeError: module 'finrl.config' has no attribute 'config'