In [60]:
import time
from datetime import datetime
import pandas as pd
import numpy as np
# Just to use YahooDownloader
import finrl

In [2]:
query_string="https://query1.finance.yahoo.com/v7/finance/download/TSLA?period1=1606780800&period2=1609372800&interval=1wk&events=history&includeAdjustedClose=true"

In [9]:
ticker = 'TSLA'
period1 = int(time.mktime(datetime.datetime(2020,12,1, 23,59).timetuple()))
period2 = int(time.mktime(datetime.datetime(2020,12,31, 23,59).timetuple()))
interval='1wk' # 1d, 1m
interval = '1d'
query_string=f"https://query1.finance.yahoo.com/v7/finance/download/{ticker}?period1={period1}&period2={period2}&interval={interval}&events=history&includeAdjustedClose=true"

In [10]:
query_string

'https://query1.finance.yahoo.com/v7/finance/download/TSLA?period1=1606838340&period2=1609430340&interval=1d&events=history&includeAdjustedClose=true'

In [11]:
df = pd.read_csv(query_string)

In [12]:
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2020-12-01,597.590027,597.849976,572.049988,584.760010,584.760010,40103500
1,2020-12-02,556.440002,571.539978,541.210022,568.820007,568.820007,47775700
2,2020-12-03,590.020020,598.969971,582.429993,593.380005,593.380005,42552000
3,2020-12-04,591.010010,599.039978,585.500000,599.039978,599.039978,29401300
4,2020-12-07,604.919983,648.789978,603.049988,641.760010,641.760010,56309700
5,2020-12-08,625.510010,651.280029,618.500000,649.880005,649.880005,64265000
6,2020-12-09,653.690002,654.320007,588.000000,604.479980,604.479980,71291200
7,2020-12-10,574.369995,627.750000,566.340027,627.070007,627.070007,67083200
8,2020-12-11,615.010010,624.000000,596.799988,609.989990,609.989990,46475000
9,2020-12-14,619.000000,642.750000,610.200012,639.830017,639.830017,52040600
10,2020-12-15,643.280029,646.900024,623.799988,633.250000,633.250000,45071500
11,2020-12-16,628.229980,632.500000,605.000000,622.770020,622.770020,42095800
12,2020-12-17,628.190002,658.820007,619.500000,655.900024,655.900024,56270100
13,2020-12-18,668.900024,695.000000,628.539978,695.000000,695.000000,222126200
14,2020-12-21,666.239990,668.500000,646.070007,649.859985,649.859985,58045300
15,2020-12-22,648.000000,649.880005,614.229980,640.340027,640.340027,51716000
16,2020-12-23,632.200012,651.500000,622.570007,645.979980,645.979980,33173000
17,2020-12-24,642.989990,666.090027,641.000000,661.770020,661.770020,22865600
18,2020-12-28,674.510010,681.400024,660.799988,663.690002,663.690002,32278600
19,2020-12-29,661.000000,669.900024,655.000000,665.989990,665.989990,22910800
20,2020-12-30,672.000000,696.599976,668.359985,694.780029,694.780029,42846000
21,2020-12-31,699.989990,718.719971,691.119995,705.669983,705.669983,49649900

## 1. Get universe of stocks. 

We have downloaded a snapshot of DJI universe. We take list of tickers from `data/DJI_tickers.csv`

In [50]:
tickers_df = pd.read_csv("data/DJI_tickers.csv")
tickers_list = tickers_df["DOW_30_TICKER"].values
tickers_list

array(['AAPL', 'MSFT', 'JPM', 'V', 'RTX', 'PG', 'GS', 'NKE', 'DIS', 'AXP',
       'HD', 'INTC', 'WMT', 'IBM', 'MRK', 'UNH', 'KO', 'CAT', 'TRV',
       'JNJ', 'CVX', 'MCD', 'VZ', 'CSCO', 'XOM', 'BA', 'MMM', 'PFE',
       'WBA', 'DD'], dtype=object)

## 2. Download historical data

In [78]:
import time
from datetime import datetime

def ticker_downloader(p_start_date_str, p_end_date_str, p_ticker, p_interval = '1d'):
    # Add timestamp
    st = p_start_date_str + " " + "23:59"
    end = p_end_date_str + " " + "23:59"
    # Reconvert to timestamp
    st = datetime.strptime(st, "%Y.%m.%d %H:%M")
    end = datetime.strptime(end, "%Y.%m.%d %H:%M")
    # Get back system time format for final query
    period1 = int(time.mktime(st.timetuple()))
    period2 = int(time.mktime(end.timetuple()))
    query_string=f"https://query1.finance.yahoo.com/v7/finance/download/{p_ticker}?period1={period1}&period2={period2}&interval={p_interval}&events=history&includeAdjustedClose=true"
    result_df = None
    try:
        result_df = pd.read_csv(query_string)
    except Exception as e:
        print("Oops!", e.__class__, "occurred.")
        print(f"ticker_downloader: For ticker={p_ticker}, start={p_start_date_str}, end={p_end_date_str}: {e}")
        return None
    return result_df


# Test using TSLA
#ticker_downloader("2020.12.01", "2020.12.31", "TSLA")
# Test using non existent TSLA
# ticker_downloader("2020.12.01", "2020.12.31", "TSLAXXX")
# Test using non existent in date
# ticker_downloader("1980.12.01", "2020.12.31", "TSLA")


def download_all_tickers(p_start_date_str, p_end_date_str, p_tickers_list, sleep=True):
    # make sure in correct input format
    p_start_date_str = datetime.strptime(p_start_date_str,"%Y.%m.%d").strftime("%Y.%m.%d")
    p_end_date_str = datetime.strptime(p_end_date_str  ,"%Y.%m.%d").strftime("%Y.%m.%d")
    
    data_dict = {}
    for ticker in tickers_list:
        # Not sure if Yahoo blocks me for very fast request, lets sleep for random 0-5 seconds
        if sleep:
            if ticker != tickers_list[0]:
                time.sleep(np.random.randint(low = 0, high = 5, size = 1)[0])
        print(f"Downloading {ticker}..")
        data_dict[ticker] = ticker_downloader(p_start_date_str, p_end_date_str, ticker, '1d')
        # add ticker information if it is found
        if data_dict[ticker] is not None:
            data_dict[ticker]["tic"] = ticker
    print("Download finished!")
    return data_dict
        
all_data_dict = download_all_tickers("1990.01.01", "2021.12.01", tickers_list)

Downloading AAPL..
Downloading MSFT..
Downloading JPM..
Downloading V..
Downloading RTX..
Downloading PG..
Downloading GS..
Downloading NKE..
Downloading DIS..
Downloading AXP..
Downloading HD..
Downloading INTC..
Downloading WMT..
Downloading IBM..
Downloading MRK..
Downloading UNH..
Downloading KO..
Downloading CAT..
Downloading TRV..
Downloading JNJ..
Downloading CVX..
Downloading MCD..
Downloading VZ..
Downloading CSCO..
Downloading XOM..
Downloading BA..
Downloading MMM..
Downloading PFE..
Downloading WBA..
Downloading DD..

In [79]:
# join whole universe with this data
all_data_dict

{'AAPL':             Date        Open        High         Low       Close   Adj Close  \
 0     1990-01-02    0.314732    0.334821    0.312500    0.332589    0.266423
 1     1990-01-03    0.339286    0.339286    0.334821    0.334821    0.268211
 2     1990-01-04    0.341518    0.345982    0.332589    0.335938    0.269106
 3     1990-01-05    0.337054    0.341518    0.330357    0.337054    0.270000
 4     1990-01-08    0.334821    0.339286    0.330357    0.339286    0.271788
 ...          ...         ...         ...         ...         ...         ...
 8038  2021-11-24  160.750000  162.139999  159.639999  161.940002  161.940002
 8039  2021-11-26  159.570007  160.449997  156.360001  156.809998  156.809998
 8040  2021-11-29  159.369995  161.190002  158.789993  160.240005  160.240005
 8041  2021-11-30  159.990005  165.520004  159.919998  165.300003  165.300003
 8042  2021-12-01  167.479996  170.300003  164.529999  164.770004  164.770004

          Volume
 0     183198400
 1     207995200
 2     221513600
 3     123312000
 4     101572800
 ...         ...
 8038   69463600
 8039   76959800
 8040   88748200
 8041  174048100
 8042  152052500

 [8043 rows x 7 columns],
 'MSFT':             Date        Open        High         Low       Close   Adj Close  \
 0     1990-01-02    0.605903    0.616319    0.598090    0.616319    0.389096
 1     1990-01-03    0.621528    0.626736    0.614583    0.619792    0.391288
 2     1990-01-04    0.619792    0.638889    0.616319    0.638021    0.402797
 3     1990-01-05    0.635417    0.638889    0.621528    0.622396    0.392932
 4     1990-01-08    0.621528    0.631944    0.614583    0.631944    0.398960
 ...          ...         ...         ...         ...         ...         ...
 8038  2021-11-24  336.279999  338.160004  333.910004  337.910004  337.910004
 8039  2021-11-26  334.350006  337.929993  328.119995  329.679993  329.679993
 8040  2021-11-29  334.940002  339.029999  334.739990  336.630005  336.630005
 8041  2021-11-30  335.320007  337.779999  328.989990  330.589996  330.589996
 8042  2021-12-01  335.130005  339.279999  329.390015  330.079987  330.079987

          Volume
 0      53035200
 1     113774400
 2     125740800
 3      69566400
 4      58982400
 ...         ...
 8038   21661300
 8039   24217200
 8040   28563500
 8041   42885600
 8042   33337600

 [8043 rows x 7 columns],
 'JPM':             Date        Open        High         Low       Close   Adj Close  \
 0     1990-01-02    9.958333   10.041667    9.958333   10.000000    3.579570
 1     1990-01-03   10.125000   10.333333   10.000000   10.333333    3.698888
 2     1990-01-04   10.333333   10.416667   10.291667   10.375000    3.713803
 3     1990-01-05   10.416667   10.416667   10.250000   10.416667    3.728721
 4     1990-01-08   10.375000   10.458333   10.291667   10.416667    3.728721
 ...          ...         ...         ...         ...         ...         ...
 8038  2021-11-24  168.460007  169.440002  166.440002  166.960007  166.960007
 8039  2021-11-26  162.139999  162.649994  158.820007  161.929993  161.929993
 8040  2021-11-29  163.309998  164.779999  159.820007  161.229996  161.229996
 8041  2021-11-30  159.160004  160.630005  158.289993  158.830002  158.830002
 8042  2021-12-01  161.000000  163.270004  157.800003  157.889999  157.889999

         Volume
 0      1180500
 1      1597200
 2      1010100
 3       936900
 4       569400
 ...        ...
 8038   9629800
 8039  13619300
 8040  12104400
 8041  18922600
 8042  12253400

 [8043 rows x 7 columns],
 'V':             Date        Open        High         Low       Close   Adj Close  \
 0     2008-03-19   14.875000   17.250000   13.750000   14.125000   12.849032
 1     2008-03-20   14.600000   16.250000   14.375000   16.087500   14.634254
 2     2008-03-24   16.809999   16.924999   14.750000   14.932500   13.583591
 3     2008-03-25   15.145000   16.062500   14.955000   15.812500   14.384095
 4     2008-03-26   15.682500   16.120001   15.392500   15.990000   14.545557
 ...          ...         ...         ...         ...         ...         ...
 3447  2021-11-24  198.169998  203.949997  197.639999  203.250000  203.250000
 3448  2021-11-26  193.320007  199.190002  192.550003  197.649994  197.649994
 3449  2021-11-29  201.000000  201.250000  195.360001  196.289993  196.289993
 3450  2021-11-30  195.270004  197.660004  192.559998  193.770004  193.770004
 3451  2021-12-01  196.029999  196.809998  190.100006  190.160004  190.160004

          Volume
 0     708486000
 1     198985200
 2     149566400
 3      87092000
 4      43111600
 ...         ...
 3447   12026800
 3448   10987600
 3449   14633500
 3450   16023000
 3451   13204900

 [3452 rows x 7 columns],
 'RTX':             Date       Open       High        Low      Close  Adj Close  \
 0     1990-01-02   4.257788   4.375787   4.228288   4.365953   2.143874
 1     1990-01-03   4.356120   4.395453   4.306954   4.316787   2.119731
 2     1990-01-04   4.287288   4.346287   4.277454   4.306954   2.114903
 3     1990-01-05   4.287288   4.316787   4.267621   4.306954   2.114903
 4     1990-01-08   4.297121   4.336454   4.277454   4.326621   2.124560
 ...          ...        ...        ...        ...        ...        ...
 8038  2021-11-24  86.930000  87.480003  86.680000  87.190002  87.190002
 8039  2021-11-26  83.559998  83.589996  81.419998  83.000000  83.000000
 8040  2021-11-29  84.089996  84.449997  82.519997  82.940002  82.940002
 8041  2021-11-30  82.120003  82.500000  80.279999  80.919998  80.919998
 8042  2021-12-01  82.139999  82.139999  79.000000  79.050003  79.050003

        Volume
 0     4586490
 1     3068677
 2     2400026
 3     2148328
 4     2131802
 ...       ...
 8038  3464500
 8039  7113600
 8040  5835000
 8041  7966000
 8042  8499000

 [8043 rows x 7 columns],
 'PG':             Date        Open        High         Low       Close   Adj Close  \
 0     1990-01-02    8.750000    8.812500    8.656250    8.812500    4.030339
 1     1990-01-03    8.812500    8.859375    8.750000    8.796875    4.023193
 2     1990-01-04    8.750000    8.765625    8.562500    8.625000    3.944588
 3     1990-01-05    8.562500    8.640625    8.468750    8.468750    3.873127
 4     1990-01-08    8.468750    8.656250    8.453125    8.625000    3.944588
 ...          ...         ...         ...         ...         ...         ...
 8038  2021-11-24  148.770004  148.880005  147.679993  148.660004  148.660004
 8039  2021-11-26  148.580002  149.720001  147.309998  147.470001  147.470001
 8040  2021-11-29  147.789993  149.660004  146.789993  149.020004  149.020004
 8041  2021-11-30  147.809998  148.539993  144.119995  144.580002  144.580002
 8042  2021-12-01  144.850006  147.869995  144.850006  146.399994  146.399994

         Volume
 0      5742400
 1      6478400
 2      6286400
 3      4283200
 4      2887200
 ...        ...
 8038   5665200
 8039   6299800
 8040   7113300
 8041  11696400
 8042   8313500

 [8043 rows x 7 columns],
 'GS':             Date        Open        High         Low       Close   Adj Close  \
 0     1999-05-04   76.000000   77.250000   70.000000   70.375000   53.892414
 1     1999-05-05   69.875000   69.875000   66.250000   69.125000   52.935173
 2     1999-05-06   68.000000   69.375000   67.062500   67.937500   52.025764
 3     1999-05-07   67.937500   74.875000   66.750000   74.125000   56.764103
 4     1999-05-10   73.375000   73.500000   70.250000   70.687500   54.131676
 ...          ...         ...         ...         ...         ...         ...
 5679  2021-11-24  405.000000  407.480011  398.299988  399.190002  397.094452
 5680  2021-11-26  384.480011  391.709991  382.720001  389.390015  387.345917
 5681  2021-11-29  394.000000  396.369995  382.450012  386.540009  384.510864
 5682  2021-11-30  383.529999  386.829987  377.260010  380.989990  378.989990
 5683  2021-12-01  383.820007  390.160004  376.209991  376.480011  376.480011

         Volume
 0     22320900
 1      7565700
 2      2905700
 3      4862300
 4      2589400
 ...        ...
 5679   2186300
 5680   2687900
 5681   2883400
 5682   4570400
 5683   2476000

 [5684 rows x 7 columns],
 'NKE':             Date        Open        High         Low       Close   Adj Close  \
 0     1990-01-02    0.832031    0.878906    0.820313    0.878906    0.670934
 1     1990-01-03    0.878906    0.890625    0.859375    0.859375    0.656025
 2     1990-01-04    0.859375    0.863281    0.824219    0.841797    0.642606
 3     1990-01-05    0.841797    0.867188    0.839844    0.867188    0.661989
 4     1990-01-08    0.867188    0.871094    0.843750    0.863281    0.659006
 ...          ...         ...         ...         ...         ...         ...
 8038  2021-11-24  168.490005  172.429993  167.669998  172.029999  171.721359
 8039  2021-11-26  168.059998  169.679993  167.539993  168.020004  167.718567
 8040  2021-11-29  169.830002  171.149994  169.229996  169.869995  169.565231
 8041  2021-11-30  168.789993  171.550003  167.529999  169.240005  168.936371
 8042  2021-12-01  170.889999  173.369995  166.679993  166.699997  166.400925

         Volume
 0     34054400
 1     31616000
 2     13587200
 3     17523200
 4      9971200
 ...        ...
 8038   4637600
 8039   4751100
 8040   5448700
 8041  11033700
 8042   6618200

 [8043 rows x 7 columns],
 'DIS':             Date        Open        High         Low       Close   Adj Close  \
 0     1990-01-02    9.207333    9.515615    9.207333    9.495063    6.968285
 1     1990-01-03    9.495063    9.577271    9.464234    9.515615    6.983368
 2     1990-01-04    9.515615    9.608099    9.412854    9.505339    6.975825
 3     1990-01-05    9.505339    9.597823    9.495063    9.536167    6.998447
 4     1990-01-08    9.536167    9.680031    9.525891    9.608099    7.058540
 ...          ...         ...         ...         ...         ...         ...
 8038  2021-11-24  150.690002  151.410004  148.800003  151.339996  151.339996
 8039  2021-11-26  146.800003  148.850006  145.850006  148.110001  148.110001
 8040  2021-11-29  148.809998  149.300003  144.250000  147.809998  147.809998
 8041  2021-11-30  146.720001  147.279999  143.110001  144.899994  144.899994
 8042  2021-12-01  146.699997  148.369995  142.039993  142.149994  142.149994

         Volume
 0      6983477
 1      8077040
 2      7721845
 3      3961885
 4      6647745
 ...        ...
 8038  14123700
 8039  12027700
 8040  21231300
 8041  26011100
 8042  16469000

 [8043 rows x 7 columns],
 'AXP':             Date        Open        High         Low       Close   Adj Close  \
 0     1990-01-02    8.915386    9.011943    8.851015    8.979757    5.152578
 1     1990-01-03    9.076314    9.076314    8.883201    9.076314    5.207984
 2     1990-01-04    9.011943    9.044128    8.883201    8.979757    5.152578
 3     1990-01-05    8.915386    9.044128    8.883201    8.883201    5.097173
 4     1990-01-08    8.818830    8.851015    8.754459    8.818830    5.060240
 ...          ...         ...         ...         ...         ...         ...
 8038  2021-11-24  168.479996  171.979996  167.899994  171.610001  171.610001
 8039  2021-11-26  165.089996  165.240005  154.500000  156.820007  156.820007
 8040  2021-11-29  160.750000  161.410004  154.339996  157.860001  157.860001
 8041  2021-11-30  155.089996  155.869995  151.699997  152.300003  152.300003
 8042  2021-12-01  156.100006  157.070007  149.889999  150.059998  150.059998

        Volume
 0     4301237
 1     4478335
 2     4916032
 3     2663077
 4     2828136
 ...       ...
 8038  3590600
 8039  6804200
 8040  6258500
 8041  7444900
 8042  6145500

 [8043 rows x 7 columns],
 'HD':             Date        Open        High         Low       Close   Adj Close  \
 0     1990-01-02    1.814815    1.864198    1.796296    1.864198    1.161736
 1     1990-01-03    1.876543    1.888889    1.851852    1.870370    1.165582
 2     1990-01-04    1.864198    1.888889    1.858025    1.882716    1.173276
 3     1990-01-05    1.882716    1.882716    1.851852    1.858025    1.157889
 4     1990-01-08    1.845679    1.851852    1.833333    1.839506    1.146349
 ...          ...         ...         ...         ...         ...         ...
 8038  2021-11-24  403.660004  412.750000  402.880005  412.109985  410.412598
 8039  2021-11-26  407.260010  414.140015  402.250000  402.700012  401.041382
 8040  2021-11-29  406.899994  410.809998  406.040009  406.820007  405.144409
 8041  2021-11-30  403.589996  408.429993  400.250000  400.609985  398.959991
 8042  2021-12-01  402.079987  410.250000  400.220001  400.420013  400.420013

        Volume
 0     6206625
 1     5591025
 2     3183300
 3     2782350
 4     1455975
 ...       ...
 8038  2676300
 8039  3007800
 8040  3725500
 8041  7773500
 8042  3516200

 [8043 rows x 7 columns],
 'INTC':             Date       Open       High        Low      Close  Adj Close  \
 0     1990-01-02   1.078125   1.125000   1.062500   1.125000   0.676319
 1     1990-01-03   1.125000   1.132813   1.093750   1.093750   0.657532
 2     1990-01-04   1.101563   1.125000   1.078125   1.117188   0.671622
 3     1990-01-05   1.117188   1.125000   1.101563   1.109375   0.666925
 4     1990-01-08   1.117188   1.132813   1.109375   1.125000   0.676319
 ...          ...        ...        ...        ...        ...        ...
 8038  2021-11-24  48.860001  49.779999  48.630001  49.759998  49.759998
 8039  2021-11-26  48.900002  49.180000  48.119999  48.779999  48.779999
 8040  2021-11-29  49.299999  50.130001  48.720001  50.000000  50.000000
 8041  2021-11-30  49.500000  50.400002  48.680000  49.200001  49.200001
 8042  2021-12-01  49.840000  50.310001  48.520000  48.599998  48.599998

         Volume
 0     63833600
 1     69504000
 2     58483200
 3     37036800
 4     43305600
 ...        ...
 8038  26035800
 8039  25269000
 8040  31478900
 8041  49460800
 8042  35093500

 [8043 rows x 7 columns],
 'WMT':             Date        Open        High         Low       Close   Adj Close  \
 0     1990-01-02    5.593750    5.921875    5.562500    5.890625    3.755112
 1     1990-01-03    5.906250    5.921875    5.828125    5.890625    3.755112
 2     1990-01-04    5.890625    5.921875    5.781250    5.859375    3.735191
 3     1990-01-05    5.812500    5.875000    5.765625    5.796875    3.695349
 4     1990-01-08    5.765625    5.875000    5.765625    5.875000    3.745151
 ...          ...         ...         ...         ...         ...         ...
 8038  2021-11-24  145.729996  147.059998  145.639999  146.539993  146.539993
 8039  2021-11-26  146.440002  147.880005  144.419998  144.899994  144.899994
 8040  2021-11-29  145.000000  145.250000  142.229996  142.630005  142.630005
 8041  2021-11-30  141.479996  142.500000  140.009995  140.630005  140.630005
 8042  2021-12-01  140.509995  140.720001  137.039993  137.139999  137.139999

         Volume
 0      9071200
 1      5307200
 2      5468800
 3      3550400
 4      2670400
 ...        ...
 8038   6029800
 8039   7013200
 8040  11013200
 8041  21606300
 8042  12207100

 [8043 rows x 7 columns],
 'IBM':             Date        Open        High         Low       Close   Adj Close  \
 0     1990-01-02   22.645794   23.452438   22.586042   23.422562   11.166049
 1     1990-01-03   23.601816   23.781071   23.512190   23.631693   11.265755
 2     1990-01-04   23.661568   23.990202   23.631693   23.900574   11.393929
 3     1990-01-05   23.870699   24.288958   23.781071   23.840822   11.365441
 4     1990-01-08   23.721319   24.109703   23.721319   23.990202   11.436658
 ...          ...         ...         ...         ...         ...         ...
 8038  2021-11-24  116.160004  117.269997  116.080002  116.730003  116.730003
 8039  2021-11-26  115.000000  116.339996  114.559998  115.809998  115.809998
 8040  2021-11-29  118.620003  119.610001  117.529999  118.500000  118.500000
 8041  2021-11-30  117.500000  119.239998  116.449997  117.099998  117.099998
 8042  2021-12-01  118.250000  118.930000  116.849998  116.919998  116.919998

         Volume
 0      7365514
 1      9899344
 2     10119841
 3      7918220
 4      4837959
 ...        ...
 8038   3220800
 8039   3322000
 8040   8949800
 8041   9252700
 8042   5958300

 [8043 rows x 7 columns],
 'MRK':             Date       Open       High        Low      Close  Adj Close  \
 0     1990-01-02  12.285305  12.503976  12.185910  12.503976   4.451559
 1     1990-01-03  12.563613  12.722646  12.563613  12.702767   4.522326
 2     1990-01-04  12.702767  12.722646  12.384701  12.503976   4.451559
 3     1990-01-05  12.464218  12.663009  12.245547  12.245547   4.359552
 4     1990-01-08  12.245547  12.464218  12.225668  12.404580   4.416170
 ...          ...        ...        ...        ...        ...        ...
 8038  2021-11-24  82.800003  82.900002  81.959999  82.279999  82.279999
 8039  2021-11-26  78.730003  79.930000  77.110001  79.160004  79.160004
 8040  2021-11-29  76.419998  77.500000  74.000000  74.889999  74.889999
 8041  2021-11-30  74.750000  75.029999  73.839996  74.910004  74.910004
 8042  2021-12-01  75.529999  76.910004  74.389999  74.440002  74.440002

         Volume
 0      7453795
 1      7958722
 2      4758758
 3      6739478
 4      4405373
 ...        ...
 8038   8537000
 8039  18022000
 8040  34192400
 8041  30179900
 8042  21435900

 [8043 rows x 7 columns],
 'UNH':             Date        Open        High         Low       Close   Adj Close  \
 0     1990-01-02    0.000000    0.382813    0.375000    0.382813    0.316397
 1     1990-01-03    0.000000    0.386719    0.371094    0.375000    0.309939
 2     1990-01-04    0.000000    0.378906    0.363281    0.371094    0.306711
 3     1990-01-05    0.000000    0.371094    0.351563    0.355469    0.293797
 4     1990-01-08    0.000000    0.359375    0.343750    0.347656    0.287339
 ...          ...         ...         ...         ...         ...         ...
 8038  2021-11-24  446.640015  450.980011  445.640015  450.160004  448.696564
 8039  2021-11-26  444.920013  448.179993  438.209991  439.910004  438.479889
 8040  2021-11-29  443.559998  453.079987  440.549988  452.000000  450.530579
 8041  2021-11-30  447.059998  451.350006  441.250000  444.220001  442.775848
 8042  2021-12-01  452.890015  455.920013  444.140015  444.339996  442.895477

        Volume
 0     2307200
 1     4316800
 2     1286400
 3     1171200
 4     1504000
 ...       ...
 8038  2248800
 8039  2480600
 8040  4079700
 8041  7435400
 8042  4325500

 [8043 rows x 7 columns],
 'KO':             Date       Open       High        Low      Close  Adj Close  \
 0     1990-01-02   4.828125   4.875000   4.796875   4.875000   2.336177
 1     1990-01-03   4.867188   4.867188   4.789063   4.804688   2.302482
 2     1990-01-04   4.804688   4.812500   4.718750   4.781250   2.291251
 3     1990-01-05   4.781250   4.828125   4.734375   4.742188   2.272532
 4     1990-01-08   4.742188   4.843750   4.726563   4.843750   2.321202
 ...          ...        ...        ...        ...        ...        ...
 8038  2021-11-24  55.709999  55.840000  55.029999  55.430000  55.003460
 8039  2021-11-26  54.590000  54.750000  53.580002  53.730000  53.316540
 8040  2021-11-29  54.049999  54.730000  53.930000  54.580002  54.160000
 8041  2021-11-30  53.599998  53.630001  52.439999  52.450001  52.450001
 8042  2021-12-01  52.980000  53.520000  52.279999  52.299999  52.299999

         Volume
 0     12128000
 1     12976000
 2      7841600
 3      8305600
 4     10064000
 ...        ...
 8038  12598900
 8039  14754300
 8040  22712500
 8041  30485200
 8042  18719600

 [8043 rows x 7 columns],
 'CAT':             Date        Open        High         Low       Close   Adj Close  \
 0     1990-01-02    7.234375    7.359375    7.218750    7.359375    3.404975
 1     1990-01-03    7.421875    7.515625    7.421875    7.437500    3.441122
 2     1990-01-04    7.437500    7.484375    7.421875    7.468750    3.455580
 3     1990-01-05    7.468750    7.468750    7.390625    7.421875    3.433894

In [68]:
start_date = "1990.01.01"
end_date = "2021.12.01"

"aa" != "aa"
    #del tmp

False

2

In [14]:
from finrl.config  import DOW_30_TICKER

ImportError: cannot import name 'DOW_30_TICKER' from 'finrl.config' (/Users/jvsingh/anaconda3/envs/rlproject/lib/python3.7/site-packages/finrl/config/__init__.py)

In [12]:
finrl.config.config

AttributeError: module 'finrl.config' has no attribute 'config'