In [1]:
import time
import datetime
import pandas as pd

In [2]:
query_string="https://query1.finance.yahoo.com/v7/finance/download/TSLA?period1=1606780800&period2=1609372800&interval=1wk&events=history&includeAdjustedClose=true"

In [9]:
ticker = 'TSLA'
period1 = int(time.mktime(datetime.datetime(2020,12,1, 23,59).timetuple()))
period2 = int(time.mktime(datetime.datetime(2020,12,31, 23,59).timetuple()))
interval='1wk' # 1d, 1m
interval = '1d'
query_string=f"https://query1.finance.yahoo.com/v7/finance/download/{ticker}?period1={period1}&period2={period2}&interval={interval}&events=history&includeAdjustedClose=true"

In [10]:
query_string

'https://query1.finance.yahoo.com/v7/finance/download/TSLA?period1=1606838340&period2=1609430340&interval=1d&events=history&includeAdjustedClose=true'

In [11]:
df = pd.read_csv(query_string)

In [12]:
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2020-12-01,597.590027,597.849976,572.049988,584.760010,584.760010,40103500
1,2020-12-02,556.440002,571.539978,541.210022,568.820007,568.820007,47775700
2,2020-12-03,590.020020,598.969971,582.429993,593.380005,593.380005,42552000
3,2020-12-04,591.010010,599.039978,585.500000,599.039978,599.039978,29401300
4,2020-12-07,604.919983,648.789978,603.049988,641.760010,641.760010,56309700
5,2020-12-08,625.510010,651.280029,618.500000,649.880005,649.880005,64265000
6,2020-12-09,653.690002,654.320007,588.000000,604.479980,604.479980,71291200
7,2020-12-10,574.369995,627.750000,566.340027,627.070007,627.070007,67083200
8,2020-12-11,615.010010,624.000000,596.799988,609.989990,609.989990,46475000
9,2020-12-14,619.000000,642.750000,610.200012,639.830017,639.830017,52040600
10,2020-12-15,643.280029,646.900024,623.799988,633.250000,633.250000,45071500
11,2020-12-16,628.229980,632.500000,605.000000,622.770020,622.770020,42095800
12,2020-12-17,628.190002,658.820007,619.500000,655.900024,655.900024,56270100
13,2020-12-18,668.900024,695.000000,628.539978,695.000000,695.000000,222126200
14,2020-12-21,666.239990,668.500000,646.070007,649.859985,649.859985,58045300
15,2020-12-22,648.000000,649.880005,614.229980,640.340027,640.340027,51716000
16,2020-12-23,632.200012,651.500000,622.570007,645.979980,645.979980,33173000
17,2020-12-24,642.989990,666.090027,641.000000,661.770020,661.770020,22865600
18,2020-12-28,674.510010,681.400024,660.799988,663.690002,663.690002,32278600
19,2020-12-29,661.000000,669.900024,655.000000,665.989990,665.989990,22910800
20,2020-12-30,672.000000,696.599976,668.359985,694.780029,694.780029,42846000
21,2020-12-31,699.989990,718.719971,691.119995,705.669983,705.669983,49649900